<div class="panel panel-default">
  <div class="panel-heading">
    メッセージ一覧
  </div>
    
  <div class="panel-body">
    <table class="table table-condensed">
      <tr  class="something">
        <td class="col-md-2">名前</td>
        <td class="col-md-10">メッセージ</td>
      </tr>
      <% @messages.each do |message| %>
        <tr>
          <td class="col-md-2"><span class="label label-info"><%= message.name %></span></td>
          <td class="col-md-10"><%= simple_format(message.body) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<form>
  <%= form_for(@message) do |f| %>
      <div class="form-group">
        <label for="name" class="control-label">名前:</label>
        <div class="row">
          <div class="col-md-3">
            <%= f.text_field :name, class: "form-control"%>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="body class="control-label">内容:</label>
        <div class="row">
          <div class="col-md-3">
            <%= f.text_area :body, class: "form-control"%>
          </div>
        </div>
      </div>
      <%= f.submit class: "btn btn-sm btn-primary" %>
  <% end %>
</form>